.btn {
	margin: 5px 10px 5px 0px;
}
.msfdate {
	float: right;
	font-style: italic;
}
.msfdate-love {
	float: right;
	font-style: normal;
	font-stretch: extra-expanded;
	font-weight: bold;
	font-size: 20px;
	color: black;
}
.msfdate-dontlove {
	float: right;
	font-style: normal;
	font-stretch: extra-condensed;
	color: black;
	font-size: 12px;
}